@font-face {
    font-family: "Cream";
    src: url("./assets/fonts/cream.ttf");
  }
  

.aside {
    background: #efedf32d;
    position: relative;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 320px;
    
    overflow: hidden;
    box-shadow: inset -0.5px 0px 0px 0px #cdccd1e5;
    
    /*una animación para el incremento de tamaño de ancho*/
    transition: width 0.5s ease-out;
}

.aside header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    padding: 2.25rem 0;

    font-family:Cream;
    font-size: 10px;
    color: #010101
}

.aside .aside-logo{
    background-repeat: no-repeat;
    background-size: cover;
    width: 70px;
    height: 70px;
    border: 0.01rem solid #CFD8DC; 
    border-radius: 25rem;
}

.aside .aside-logo:hover {
    opacity: 0.6;
    transform: scale(1.01);
    transition: .3s ease-in-out;
}

.aside > ul {
    margin: 18px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    gap: 18px;
}


.aside li > a {
    position: relative;
    display: table;
    border-spacing: 0;
    height: 60px;
    color: #010101;
    font-family: arial;
    font-size: 15px;
    text-decoration: none;
    transition: all 0.15s linear;
    width: 320px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.aside li:hover a, .aside li a.active{
    color: #fff;
    background-color: #2C016D;
    transition: all 0.1s ease-in;
}

.aside li:hover span, .aside li a.active span{
    color: #fff;
    transition: color 0.15s ease-in;
}



.aside .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
    font-size: 22px;
    color: #010101;
    font-family:Cream;
}

.aside > ul.logout {
    position: absolute;
    left: 0;
    bottom: 0;
}

a:hover,
a:focus {
text-decoration: none;
}

.fa-aside {
    position: relative;
    display: table-cell;
    width: auto;
    height: auto;
    text-align: center;
    vertical-align: middle;
    font-size: 26px;
}



/* large screen */
@media (min-width: 1283px) {
}

/*for desktop*/
@media (min-width: 1246px) and (max-width: 1281px) {
}


/*ipad and any device in potrait mode*/
@media (min-width: 768px) and (max-width: 1282px) {
    .aside {
        width: 320px;
        transition: width 0.5s ease-out;
        
    }
    .aside .aside-logo{
        width: 45px;
        height: 45px;
        transition: all 0.1s ease-in;
    }
    .aside-label{ font-size: 26px; transition: all 0.1s ease-in;}
    .aside li > a > .fa-aside, .aside li > a  > .nav-text{
        font-size: 20px;
        transition: all 0.1s ease-in;
    }
}

/*mobile and small ipad*/
@media (min-width: 480px) and (max-width: 767px) {
    .aside-label{ display: none; transition: all 0.1s ease-in;}
    .aside {
        width: 120px;
        
        transition: width 0.5s ease-out;
        display: flex;
        
        flex-flow: row wrap;
        justify-content: center;
        align-items: self-start;
        transition: all 0.1s ease-in;
    }
    
    .aside .nav-text {
        display: none;
        transition: all 0.1s ease-in;
    }
    .aside .aside-logo{
        width: 45px;
        height: 45px;
        transition: all 0.1s ease-in;
    }
}

/*small device*/
@media (max-width: 480px) {
    .aside-label{ display: none;}
    .aside {
        width: 150px;
        
        transition: width 0.5s ease-out;
        display: flex;
        
        flex-flow: row wrap;
        justify-content: center;
        align-items: self-start;
        transition: all 0.1s ease-in;
    }
    
    .aside .nav-text {
        display: none;
        transition: all 0.1s ease-in;
    }
   

    .aside .aside-logo{
        width: 45px;
        height: 45px;
        transition: all 0.1s ease-in;
    }
}