.navbar{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    padding: 0.5rem 1rem;
}

.nav-link {
    color: #010101;
}

.bg-light {
    background-color: #cdccd1e5 !important;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
  }
  
  .navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none;
  }

  .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }
  
  .navbar-toggler:hover, .navbar-toggler:focus {
    text-decoration: none;
  }
  
  .navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
  
  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
  }


@media (min-width: 1283px) {
    .navbar-toggler {
        display: none;
    }
}

/*for desktop*/
@media (min-width: 1246px) and (max-width: 1281px) {
    .navbar-toggler {
        display: none;
    }
}

/*ipad and any device in potrait mode*/
@media (min-width: 768px) and (max-width: 1282px) {
    .navbar-toggler {
        display: none;
    }
}

/*mobile and small ipad*/
@media (min-width: 480px) and (max-width: 767px) {
    
}

/*small device*/
@media (max-width: 480px) {
    
}
  