.navbar{
    display: flex;
    flex-flow: row nowrap;
    align-items:center;
    justify-content: space-between;
    
    height: 75px;
    padding: 0.5rem 1rem;

    
}

.nav-link {
    color: #010101;
}

.bg-light {
  background: #fff;
  box-shadow: inset -0px 0px 2px 0px #0000003d;
}

.navbar-brand {
    
    display: block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
  }
  
  .navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none;
  }

  
  .navbar-user {
    width: auto;
    display: inline-flex;
    position: relative;
    min-width: 150px;
    left: -20px;
    z-index: 1000;
    /* top:100px; */
  }


  .navbar-menu {
    position: relative;
    min-width:inherit;
  }
  .navbar-menu .navbar-user-profile{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      gap: 1rem;
  }

.navbar-menu img{
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 5%;
}

.fa-angle-down {
    transform:rotate(0deg);
    transition: .3s ease-in-out;
}

.navbar-menu:hover .fa-angle-down {
  opacity: 0.6;
  transform: scale(1.01);
  transition: .3s ease-in-out;
}



.navbar-menu > li a{
  font-size: 18px;
  color:#010101
}

.navbar-menu > li > ul > li{
  padding: 1.35rem 1.25rem;
  min-width: 150px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-self: center;
}

.navbar-menu > li > ul > li:hover{
  background-color: #2C016D;
  color: #fff;
  transition: all 0.1s ease-in;
}

.navbar-menu > li > ul > li:hover a{
  color: #fff;
  transition: color 0.15s ease-in;
  
}


.navbar-menu-item{ display: none; transition: all 0.15s linear; }
.navbar-menu > li:hover .fa-angle-down { transform:rotate(180deg); transition: .3s ease-in;}
.navbar-menu > li:hover img{ border-radius: 25rem; transition: all 0.15s ease-in; }
.navbar-menu > li:hover .navbar-menu-item{
  background: #fff;
  box-shadow: inset -0px 0px 2px 0px #0000005d;
  padding: 0;
  min-width: 190px;;
  position: absolute;
  left:0px;
  
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-self: center;
  transition: all 0.15s linear;
}
  

  .navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  
  .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
  }


@media (min-width: 1283px) {
   
}

/*for desktop*/
@media (min-width: 1246px) and (max-width: 1281px) {
   
}

/*ipad and any device in potrait mode*/
@media (min-width: 768px) and (max-width: 1282px) {
    
}

/*mobile and small ipad*/
@media (min-width: 480px) and (max-width: 767px) {
  .navbar-menu img{
    width: 40px;
    height: 40px;
  }

  .navbar-menu .navbar-user-profile{
    justify-content: center;
    align-items: center;
    gap: 0.58rem;
  }

  .navbar-user {
    width: auto;
    display: inline-flex;
    position: relative;
    min-width: 80px;
    left: 0
    /* top:100px; */
  }

  .navbar-menu > li > ul{
    padding: 0;
  }
  .navbar-menu > li > ul > li > a{
    font-size: 16px;
    padding: 0;
    color:#010101
  }
  .navbar-menu > li:hover .navbar-menu-item{
    left:-70px;
  }
}

/*small device*/
@media (max-width: 480px) {
  .navbar-menu img{
    width: 30px;
    height: 30px;
  }

  .navbar-menu .navbar-user-profile{
    justify-content: center;
    align-items: center;
    gap: 0.58rem;
  }

  .navbar-user {
    width: auto;
    display: inline-flex;
    position: relative;
    min-width: 80px;
    left: 0
    /* top:100px; */
  }

  .navbar-menu > li > ul{
    padding: 0;
  }
  .navbar-menu > li > ul > li > a{
    font-size: 16px;
    padding: 0;
    color:#010101
  }
  .navbar-menu > li:hover .navbar-menu-item{
    left:-70px;
  }
}
  